# Deps
node_modules

# Output
/.svelte-kit
/build
/dist
/.gro
/dist_*

# Env
.env
.env.*
!.env.example
!.env.*.example
!.env.test
!.env.*.test

# Secrets
*.pem
id_rsa

# Ignore
*.ignore
*.ignore.*
ignore

# Workflow
/worktree

# Os
.DS_Store
Thumbs.db