html {
	height: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	--clickable_text_shadow: 1px 1px 4px #000, 1px 1px 1px #000, 1px 1px 9px #000;
	--ocean_color: #1b4780;
	--land_color: #1b7e23;
	--text_color: #dbdbdb;
	--ocean_text_color: hsl(214, 65%, 50%);
	--land_text_color: hsl(125, 65%, 50%);
	--color_2: #7094db; /* TODO probably make this a lighter shade of `--ocean_color` */
	--color_3: #9470db; /*  TODO probably make this a lighter shade of the primary color */
	--portal_border: 3px dashed rgba(255, 255, 255, 0.15);
	--portal_border_radius: 7px;
	--panel_border: 5px dashed rgba(255, 255, 255, 0.15);
	--panel_border_radius: 15px;
	--bg_2: rgba(255, 255, 255, 0.04);
	--bg_dark: rgba(0, 0, 0, 0.6);
}

/* border-box all the things, but let parents override children */
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #000;
	color: var(--text_color);
	font-size: 18px;
}

#root {
	height: 100%;
	position: relative;
}

hr {
	background: none;
	border-top: 2px solid rgba(0, 0, 0, 0.4);
	/* border-bottom: 1px solid rgba(255, 255, 255, 0.18); */
	border-bottom: var(--portal_border);
}

img,
video {
	max-width: 100%;
	height: auto;
}

code {
	/* TODO reuse ocean_text_color */
	background: rgb(27, 71, 128, 0.3);
	padding: 2px 8px;
}

h1 {
	font-size: 48px;
	font-weight: 100;
	margin: 0;
}

h2 {
	font-size: 32px;
	font-weight: 300;
	margin: 0;
}

h3 {
	font-size: 21px;
	font-weight: 300;
	margin: 0;
}

.pixelated {
	image-rendering: -webkit-optimize-contrast; /* Safari */
	image-rendering: -o-crisp-edges; /* OS X & Windows Opera (12.02+) */
	image-rendering: pixelated; /* in case crisp-edges isn't supported */
	image-rendering: crisp-edges; /* the recommended pixel art setting according to MDN */
}

.grayscale {
	filter: grayscale(1);
}

a {
	text-decoration: none;
	color: var(--ocean_text_color);
}

/* TODO should clickable things scale or use these border and text shadow visuals? */
.clickable {
	color: #fff;
	font-size: 48px;
	font-weight: 100;
	opacity: 0.4;
	text-shadow: var(--clickable_text_shadow);
	border-bottom: 5px solid transparent;
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
}
.clickable:hover {
	opacity: 0.8;
	cursor: pointer;
	border-bottom-style: dotted;
	border-color: #fff;
	text-shadow: var(--clickable_text_shadow), 1px 1px 19px #000, 2px 2px #000;
}
.clickable:active {
	opacity: 1;
	border-bottom-style: dashed;
	border-color: #fff;
	text-shadow: -1px -1px 9px #000, -2px -2px 1px #000;
}
.clickable.clickable--active {
	opacity: 1;
	border-bottom-style: dashed;
	border-color: #fff;
	text-shadow: -1px -1px 9px #000, -1px -1px 1px #000;
}

.clickable.clickable--active:hover {
	border-bottom-style: solid;
	text-shadow: -1px -1px 1px #000, 1px 1px 19px #000;
}
.clickable.clickable--active:active {
	border-bottom-style: dashed;
	text-shadow: -1px -1px 7px #000, -2px -2px 1px #000;
}

.clickable-icon {
	width: 100px;
	height: 100px;
	font-size: 72px;
}

.big-button {
	font-size: 48px;
	padding: 15px 30px;
	font-weight: 100;
}
